// color
$color-primary: #409eff;
$background-color: #fff;
$default-color: #525866;
$primary-color: #7BFFF8;
$success-color: #4DDB59;
$error-color: #F24949;

// font
$font-family: PingFangSC-Regular, PingFang SC;
